<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.2.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net472" />
  <package id="Json.Net" version="1.0.23" targetFramework="net472" />
  <package id="JsonConfig" version="1.0.0" targetFramework="net472" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net472" />
  <package id="LineBot.SDK" version="0.2.0" targetFramework="net472" />
  <package id="LineNotify.SDK" version="1.0.2" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="RestSharp" version="105.2.3" targetFramework="net472" />
  <package id="SimpleServices" version="2.0.16.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
</packages>